@CHARSET "UTF-8";

img,object {
	max-width: 100%
}

img {
	max-width: 100% !important;
}

.marginLeft {
	margin-left: 4px;
}

.fontSize {
	font-size: 20px;
}

.editCss {
	/*width: 500px;*/
}

.btnCss {
	/*float: left;*/
	/*margin-left: 10px;*/
}

.rowtop {
	margin-top: 20px;
	margin-left: 0 !important;
}

#uploadImage {
	position: absolute;
	background: #FF0000;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 103px;
	height: 103px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

#uploadImage.second {
	left: -90px;
	width: 86px;
	height: 33px;
	margin-top: 110px;
}

#hasSelectedImg {
	display: none;
}

#uploadPreview {
	margin: 0 auto 10px;
	width: 85%;
}

#uploadPreview img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

@media ( min-width : 992px) {
	.col-md-6 {
		width: 100%;
	}
}

.user-bg {
	background-image:url("../../app/img/profile-bg.jpg") 
}
.cursor{
	cursor: pointer;
}
.progress{
	width:100%;
	float:left;
}
.leftFloat{
	margin-bottom: 10px;
}
.leftFloat .form-control{
	width: 200px;
}
.mailCss{
	margin-left:20px !important;
}
.confirmBtn {
    margin-left: 4px !important;
    width: 48px !important;
    height: 30px !important;
    /* border-color: #ffffff !important; */
    background: url("../../app/img/circle/seek_btn.png") no-repeat !important;
    color: #ffffff !important;
    font-size:13px !important;
}
.nextStepBtn {
    margin-left: 4px !important;
    width: 55px !important;
    height: 30px !important;
    border-color: #ffffff !important;
    background: url("../../app/img/circle/seek_btn.png") no-repeat !important;
    color: #ffffff !important;
    font-size:13px !important;
}