.header{
  position:relative;
}
@CHARSET "UTF-8";
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    font-weight:normal;
  }
  
  label {
    font-weight:initial !important;
  }
  
  .fontWeight {
    font-weight: bold;
  }
  
  .fontSize {
    font-size: 20px;
  }
  
  .uk-notify-top-center {
      left: 50%;
      margin-left: -175px;
      top: 0px;
  }

  @Media (max-width:768px){
    .content-wrapper{
        padding:0
    }
  }
  
  .identify-form-control {
    width:62% ;
    display: initial !important;
  }
  
  .identify-form-control-feedback {
    right:38% !important;
    top:26px;
  }
  
  .div-display-block {
    display:block;
  }
  
  .btn_padding {
    padding-left:23px;
  }
  
  
  .pull-left {
    padding-left:15px;
  }
  .app-dialog-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.4);
    z-index: 10;
    display: none;
  }
  .app-dialog{
    background-color: #ffffff;
    width: 84%;
    margin: 36% auto 0;
    padding: 16% 3% 2%;
    text-align: center;
    border-radius: 6px;
    position: relative;
  }
  .app-logo{
    width: 160px;
    height: 120px;
    background: url(../../main/mobile/img/app-dialog.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -33%;
  }
  .app-text{
    color: #293f64;
    font-size:16px;
  }
  .app-btn{
    padding: 8% 0;
    text-align: center;
  }
.app-btn a{
  width: 45%;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  border-radius: 23px;
  font-size: 16px;
  text-decoration: none;
}
  a.app-download{
    background-color: #2089fc;
    color: #ffffff;
    margin-right: 4%;
  }
  a.app-cancel{
    border: 1px solid #e7ebf6;
    color: #6c7b98;
  }