<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           	http://www.springframework.org/schema/beans   
           	http://www.springframework.org/schema/beans/spring-beans.xsd
           	http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context.xsd  
           	http://www.springframework.org/schema/mvc   
           	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 不扫描service -->
    <context:component-scan base-package="com.mlsc.yifeiwang.sms">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <context:component-scan base-package="com.mlsc.mobileservice">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <context:component-scan base-package="com.mlsc.waste">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <context:component-scan base-package="com.mlsc.yifeiwang">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <context:component-scan base-package="com.mlsc.yunxin">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>


    <!-- 自定义对controller层进行权限和日志记录 -->
    <!-- <bean id="serviceAspect" class="com.mlsc.epdp.common.aspect.ServiceAspect"></bean>
    <aop:config>
        <aop:aspect ref="serviceAspect">
            <aop:pointcut id="aroundPointcut" expression="execution(* com.mlsc.waste.controller.*.*(..))" />
            <aop:around pointcut-ref="aroundPointcut" method="around" />
        </aop:aspect>
    </aop:config> -->

    <mvc:annotation-driven>
        <!-- 参数序列化为对象 -->
        <mvc:argument-resolvers>
            <bean class="com.mlsc.common.spring.CurrentUserArgumentResolver" />
        </mvc:argument-resolvers>

        <!-- Result自定义json序列化 -->
        <mvc:message-converters>
            <bean class="com.mlsc.epdp.common.resolver.ResultJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>



    <mvc:default-servlet-handler/>
    <!-- 对静态资源文件的访问 restful -->
    <mvc:resources mapping="/**" location="/"/>
    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*"
                     allow-credentials="true" max-age="1800" allowed-methods="GET,POST,OPTIONS" />
    </mvc:cors>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>