.wrapper > section {
    margin-bottom: 0 !important;
}

.content-heading {
    height: 64px;
    line-height: 70px;
    background: #FFFFFF;
    border-bottom: 1px solid #d5dde6;
}

.content-heading .lead {
    font-size: 24px;
    color: #222222;
    margin-left: 24px;
}

.content-heading .subTitle {
    border-left: 2px solid #1171D1;
    font-size: 14px;
    color: #222222;
    padding-left: 12px;
    margin-left: 12px;
}

.message-container {
    overflow-x: hidden;
}

.messages {
    margin: 0px 0px 0px 0px;
    border-right: 1px solid #cadee8;
    background-color: #e9eaf0;
    float: left;
    width: 100%;
}

.searchDiv {
    display: inline-block;
    width: 100%;
}

.searchDiv .pull-left {
    padding-left: 24px;
    margin: 12px 0;
}

.input-group > input {
    /*line-height: 30px;*/
}

.enterCss, .eightCode, .area {
    padding-left: 12px;
    border: 1px solid #a6b5c5;
    height: 30px;
    width: 140px;
    border-radius: 3px;
    color: #333;
}

.input-group_css {
    float: left;
    margin-right: 4px;
}

.eightCode {
    width: 110px;
    cursor: pointer;
}

.area {
    width: 100px;
}

.btn-seek {
    margin-left: 4px;
    width: 58px;
    height: 31px;
    border: 0;
    background: url("../../app/img/circle/seek_btn.png") no-repeat;
    color: #ffffff;
}

.shaixuan {
    float: right;
    width: 165px;
    margin-right: 9px;
}

.shaixuan > a, .shaixuan > span {
    float: left;
    margin-top: 18px;
    margin-right: 18px;
    cursor: pointer;
    color: #7a7d84;
    font-size: 13px;
}

.shaixuan > a.active {
    color: #1171d1;
}

.shaixuan > a.reset {
    margin-right: 0;
}

.shaixuan > span label {
    cursor: pointer;
}

.shaixuan input[type='checkbox'] {
    float: left;
    margin-top: 4px;
    margin-right: 3px;
}

.shaixuan .fa {
    margin-left: 3px;
}

.list {
    padding: 0 24px;
}

.list > span {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.item {
    width: 100%;
    padding: 20px 0;
    padding-left: 74px;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.item .item_logo {
    position: absolute;
    margin-left: -74px;
    width: 74px;
    text-align: center;
}

.item .item_logo img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    z-index: 10;
}
.item .item_logo >span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    z-index: 10;
}
.item .item_logo .tuijian{
    width: 30px;
    height: 44px;
    background: url(../../main/pc/img/tuijian2.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
    color: #fefefe;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 73%;
}
.qipao_logo img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.favorite_logo .favorite {
    width: 15px;
    height: 15px;
    background: url(../../app/img/circle/favorited_not.png) center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 1000;
    margin-left: -19px;
    margin-top: 1.5px;
}
.favorite_logo.favorited .favorite {
    background: url(../../app/img/circle/favorited.png) center no-repeat;
    background-size: 100% 100%;
}
.favorite_logo span{
    width: 45px;
    display: inline-block;
    text-align: left;
}
.item .item_message {
}

.item .item_message > p {
    margin: 0;
    color: #6b7580;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item .item_message > p.item_weifei{
    width: 200px;
}
.item_weifei_info{
    border:1px solid #d5dde6;
    max-width: 663px;
    margin-right: 14px;
}
.messageBody_mypublish .item_weifei_info{
    cursor:default;
}
.item .item_message > p.item_info {
    font-size: 14px;
    color: #222222;

}
.item .item_message > p.item_info:after { clear: both; content: " "; display: block; }
.item .item_name {
    margin-right: 13px;
}

.item .item_xukezheng, .item .item_publish {
    /*float: right;*/
    margin-right: 33px;
    font-size: 12px;
    color: #6A7580;
    position: absolute;
    right: 20px;
}

.item .item_publish {
    margin-right: 33px;
}

.item .item_message > p.item_address {
    margin: 12px 0;
}

.item .item_message > p.item_address span {
    color: #1171D1;
}

.item .item_message > p.item_weifei span {
    width: 26px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #d3d8e0;
    color: #222222;
    display: inline-block;
    border-radius: 2px;
    font-weight: bold;
    margin: 0 4px;
}

.item_weifei_info > span {
    display: inline-block;
    background-color: #f6f7fb;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 140px;
    float: left;
    font-size: 14px;
    color: #222222;
}

.item_weifei_info > span:first-child + span {
    width: 320px;
    border-left: 1px solid #d5dde6;
    border-right: 1px solid #d5dde6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item_weifei_info > span:first-child + span +span {
    width: 200px;
}
.item_weifei_info:after { clear: both; content: " "; display: block; }
@media (max-width: 1030px) {
    .item_weifei_info > span:first-child + span{
        width: 96% !important;
        margin: 4px 0;
        border: 0;
    }
    .item_weifei_info{
        border: 0;
    }
}
.item .item_message > p.item_buy {
    width: 100%;
    text-align: right;
    padding-right: 6px;
    color: #1171D1;
    margin-top: 10px;
    font-size: 13px;
}

.item .item_message > p.item_buy a {
    text-decoration: none;
}
.item .item_message > p.item_buy >span{
    float: left;
    color: #333333;
}
.item .item_message > p.item_buy >span:first-child{
    margin-right: 25px;
}
.item .item_message > p.item_buy .goDetail{
    margin-right: -17px;
}
.item .item_message > p.item_buy b{
    color: #6b7580;
}
.item .item_message > p.item_buy font{
    color: #1171d1;
}
.item .item_message .dropdown-menu.pull-right {
    left: 0;
    right: auto;
    position: relative;
}
.publisharea {
    position: relative;
    background-image: url(../../app/img/circle/publisharea.png);
    width: 14px;
    height: 14px;
    margin-right: 0px;
    display: inline-block;
    background-repeat: no-repeat;
    top: 2px;
    margin-right: 3px;
}

.weifei_icon {
    position: relative;
    background-image: url(../../app/img/circle/weifei_icon.png);
    width: 14px;
    height: 14px;
    margin-right: 0px;
    display: inline-block;
    background-repeat: no-repeat;
    top: 1.5px;
    margin-right: 3px;
}

.responsepublish {
    position: absolute;
    background-image: url(../../app/img/circle/responsepublish1.png);
    width: 14px;
    height: 14px;
    margin-right: 2px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: -21px;
    margin-top: 1px;
}


.arrow_down {
    position: absolute;
    background: url(../../app/img/circle/arrow_down.png);
    width: 14px;
    height: 14px;
    margin-right: 2px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
}

.xukezheng_icon {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../../app/img/circle/xukezheng_icon.png) center center no-repeat;
    background-size: 100% 100%;
    margin-left: -21px;
    margin-top: 2px;
}

.time_icon {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../../app/img/circle/publishtime.png) center center no-repeat;
    background-size: 100% 100%;
    margin-left: -21px;
    margin-top: 2px;
}

.item_container {
    margin-bottom: 10px;
}

.chanfei_list {
    background: #FFFFFF;
    width: 98%;
    padding-top: 16px;
    margin: 0 auto;
    border-top: 2px solid #e8ecef;
    padding-bottom: 10px;
    display: none;
}

.item_container.buy_show .chanfei_list {
    display: block;
    overflow-x: auto;
}

.startBuy_btn {
    position: absolute;
    right: 62px;
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_container.buy_show .item_buy .arrow_down {
    background: url(../../app/img/circle/arrow_up.png);
}

.chanfei_list .chanfei_item {
    width: 100%;
    margin-bottom: 4px;
}

.chanfei_list .chanfei_item .chanfei_info {
    background-color: #edeff5;
    /*display: inline-block;*/
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    border-left: 2px solid #a6b5c5;
    box-shadow: 0 0 1px #edeff5;
    cursor: pointer;
}

.chanfei_list .chanfei_item .chanfei_info > span {
    float: left;
    width: 30%;
    text-align: center;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chanfei_list .chanfei_item .chanfei_info:hover, .chanfei_list .chanfei_item.active .chanfei_info {
    background-color: #c4dcf5;
    border-left: 2px solid #1171D1;
}

.chanfei_list .chanfei_item .chanfei_subItem {
    width: 100%;
    padding: 14px 14px 16px;
    display: none;
    border: 1px solid #D5DDE6;
}

.chanfei_list .chanfei_item .chanfei_subItem label {
    font-size: 12px;
}

.chanfei_list .chanfei_item.active .chanfei_subItem {
    display: block;
}

.chanfei_list .chanfei_item .chanfei_subItem > span .input-group {
    /*width: 120px;*/
}

.chanfei_list .chanfei_item .chanfei_subItem > span:first-child + span .input-group {
    /*width: 166px;*/
}

.chanfei_list .chanfei_item .chanfei_subItem > span:first-child + span + span .input-group {
    /*width: 196px;*/
}

.chanfei_list .chanfei_item .chanfei_subItem .input-group input {
    color: #222222;
    border-radius: 2px;
    padding: 0;
    padding-left: 6px;
}

.chanfei_list .chanfei_item .chanfei_subItem > span {
    width: 24%;
    display: inline-block;
    padding: 0 2%;
}

.chanfei_list .chanfei_item .chanfei_subItem > span.priceDiv {
    float: right;
    padding-top: 34px;
}

.chanfei_list .chanfei_item .chanfei_subItem > span.priceDiv input[type='checkbox'] {
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}

.chanfei_list .chanfei_item .chanfei_subItem > span.priceDiv label {
    font-weight: 100;
}

.chanfei_list .chanfei_item .chanfei_subItem .buyDiv {
    text-align: right;
    margin-top: 10px;
}

.chanfei_list .chanfei_item .chanfei_subItem .buy_btn {
    display: inline-block;
    width: 90px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: url(../../app/img/circle/addShopCardbtn.png) no-repeat;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}

.chanfei_list .chanfei_item .chanfei_info .buy_icon {
    width: 20px;
    height: 20px;
    background: url(../../app/img/circle/buy_icon.png) left top no-repeat;
    background-size: 100% 100%;
    float: right;
}

/*
 * 产废购买详情
 */
.chanfei_list .form_info{
    margin: 20px;
    border: 1px solid #d5dde6;
    min-width: 574px;
}
.chanfei_list .form_info .form-control{
    display: inline-block;
    width: 160px;
    padding: 0;
    border: 1px solid #d5dde6;
    box-shadow: none;
    resize: none;
    padding-left: 10px;
}
.chanfei_list .form_info input[type=checkbox]{
    margin-left: 4px;
    margin-top: 3px;
}
.chanfei_list .form_info table{
    margin-bottom: 0;
}
.chanfei_list .form_info table td{
    vertical-align: middle !important;
    white-space: normal;
}
.chanfei_list .form_info table td:first-child{
    padding-left: 20px;
    width: 229px;
}
.chanfei_list .form_info .view_title{
    color: #6a7580;
    font-size: 12px;
    font-weight: 100;
    width: auto;
}
.chanfei_list .form_info .view_detail{
    color: #222;
    font-size: 14px;
}
.chanfei_list .form_info .view_detail.totalQty{
    color: #000000;
    font-weight: bold;
}
.chanfei_list .form_info .view_detail.totalPrice{
    color: #FF0000;
    font-weight: bold;
}
.chanfei_list .form_info .tr_view{
    height: 46px;
    background-color: #f6f7fb;
}
.chanfei_list .form_info .tr_input{
    height:74px;
}
.chanfei_list .form_info .tr_textarea{
    height:80px;
}
.chanfei_list .form_info .tr_textarea .view_title{
    position: relative;
}
.chanfei_list .form_info .tr_textarea .view_detail{
    display: inline-block;
    width: 100%;
    padding-left: 29px;
    margin-top: -26px;
}
.chanfei_list .form_info .tr_textarea textarea{
    width: 100%;
    height: 66px;
    padding: 7px 10px;
    background-color: #fff;
    border: 0;
}
.chanfei_list .form_btn{
    text-align: center;
}
.chanfei_list .form_btn a{
    width: 80px;
    height:30px;
    padding: 0;
    line-height: 30px;
    margin: 0 4px;
}
.chanfei_list .form_btn .btn-sure, .chanfei_list .form_btn .btn-cancle {
    width: 100px;
    line-height: 26px;
    font-size: 12px;
    color: #838c95;
    background: #FFFFFF;
    border: 1px solid #a6b5c5;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}
.chanfei_list .form_btn .btn-sure {
    background: #3483e1;
    color: #FFFFFF;
    margin-right: 4px;
}

.chanfei_list .form_btn .btn-cancle {
    background: #ebecf0;
    color: #a5abb2;
}
/*
 * 飞入飞出样式
 */
.m-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    z-index: 2000;
    width: 35px;
    height: 100%;
    font-size: 12px;
    color: #fff;
}

.cart {
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding: 200px 0 0 0px;
}

.cart span {
    display: block;
    width: 20px;
    margin: 0 auto;
}

.cart i {
    width: 35px;
    height: 35px;
    display: block;
    background: url(car.png) no-repeat;
}

#msg {
    position: fixed;
    top: 300px;
    right: 35px;
    z-index: 10000;
    width: 1px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #360;
    display: none
}

.box {
    float: left;
    width: 198px;
    height: 320px;
    margin-left: 5px;
    border: 1px solid #e0e0e0;
    text-align: center
}

.box p {
    line-height: 20px;
    padding: 4px 4px 10px 4px;
    text-align: left
}

.box:hover {
    border: 1px solid #f90
}

.box h4 {
    line-height: 32px;
    font-size: 14px;
    color: #f30;
    font-weight: 500
}

.box h4 span {
    font-size: 20px
}

.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
}

.myinfo {
    float: right;
    width: 30%;
    background-color: #FFFFFF;
}

.myinfo > p {
    text-align: center;
    margin: 0;
}

.myinfo > p.logo {
    margin: 36px auto 18px;
}

.myinfo > p.logo img {
    width: 70px;
    height: 70px;
}

.myinfo > p.cname {
    color: #222222;
    font-size: 16px;
}

.myinfo > p.ccode {
    margin: 10px auto 18px;
    color: #6A7580;
    font-size: 12px;
}

.myinfo > p.total_count {
    margin-top: 40px;
    border-top: 1px solid #d5dde6;
    border-bottom: 1px solid #d5dde6;
    display: inline-block;
    width: 100%;
    margin-bottom: -5px;
}

.myinfo > p.total_count > span {
    float: left;
    width: 33%;
    height: 70px;
    border-right: 1px solid #d5dde6;
    padding-top: 10px;
}

.myinfo > p.total_count > span:first-child + span + span {
    border-right: 0;
}

.myinfo > p.total_count > span label {
    width: 100%;
    color: #1171d1;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 100;
}

.myinfo > p.total_count > span font {
    color: #6A7580 !important;
    font-size: 12px;
}

.loading {
    text-align: center;
    display: none;
    font-size: 12px;
    color: #87a0b5;
    padding: 10px 0;
}

.loading img {
    margin-bottom: 5px;
}

#danwei {
    width: 50px;
    min-width: 50px;
    margin-left: 78px;
    margin-top: 0px;
    display: block;
}

.dropdown-menu#danwei > li > a {
    padding: 0;
    text-align: center;
}

.dropdown-menu#danwei > li > a:hover {
    background-color: #c4dcf5;
}

.no-ent-popover {
    width: 215px !important;
    background-color: #d8f3ff !important;
}

.popover {
    background-color: #d8f3ff;
}

.popover-content {
    background-color: #d8f3ff;
    width: 100%;
    height: 100%;
}

.popover.right > .arrow:after {
    content: "";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #d8f3ff !important;
}

.popover.right {
    margin-left: 25px;
}

.popover.right > .arrow {
    border-right-color: #76d1d9 !important;
    border-left-width: 0;
    margin-top: -11px;
}

#myModalLabel, #myModalclose {
    padding-top: inherit;
}

.rightAligned{
    text-align: right;
}
.assayInformation{
    text-align: center;
    margin-top: 20px;
}
table.wasteInfo {
    width: 100%;
}

.modal-header .close {
    margin-top: 5px;
    font-size: 15px;
}

.addFriend_loading {
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    text-align: center;
    display: none;
}

@media (max-width: 1240px) {
    .shaixuan {
        width: 100%;
        float: left;
        margin-left: 24px;
        margin-top: -17px;
    }
}

@media (max-width: 1100px) {
    .item .item_xukezheng, .item .item_publish {
        width: 100%;
        margin-left: 21px;
        margin-top: 5px;
        margin-right: 0;
        right: 0;
        display: block;
        position: relative;
    }

    .chanfei_list .form_info > p.form_money > span:first-child + span {
        float: left;
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 676px) {
    .messages {
        width: 100%;
    }

    .myinfo {
        display: none;
    }
}

.dispositionType {
    margin-top: 5px;
}


/* ======样式测试 */
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    font-weight:normal;
}
  
.float-left {
    float: left !important;
}
  
.marginLeft {
    margin-left:10px;
}
.paddingtop {
    padding-top:7px;
}
.uploadSuccessImgList img {
    width: 100px;
    height:100px;
}

.previewImg,
.uploadSuccessImgList,
.hasSelectedImg {
    display: none;
}

.previewImg,
.uploadSuccessImgList {
    margin-top: 8px;
}
.previewImg img{
    max-width: 106px;
}
.uploadImage {
    position: absolute;
    background: #FF0000;
    left: 0;
    width: 85px;
    height: 32px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
}

.uploadItem {
    float: left;
    margin-right: 10px;
}
.detail .uploadItem{
    float: left;
}
.detail .uploadSuccessImgList img{
    cursor: pointer;
}
.detail .uploadSuccessImgList img.big{
    width: 80%;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 72px;
    z-index: 1000;
    max-height: 88%;
}

.uploadItem a {
    position: absolute;
    color: #ff0000;
    font-size: 18px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: block;
    background-color: #ccc;
    text-align: center;
    line-height: 20px;
    margin-left: 82px;
    font-size: 14px;
}
.city-picker-span{
    width: auto !important;
    border: 1px solid #a6b5c5;
    padding-left: 12px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
    min-width: 100px;
}

/* list.jsp */
.modalDiv{
    position: absolute;
    left: 15%;
    top: 15%;
    right: 15%;
    bottom: 15%;
    background: #ffffff;
    border: 1px solid #cccccc;
}
#baseInfoModal {
    position: absolute;
    width: 100%;
}
.modalDiv .btn_close{
    position:absolute;
    right:1%;
    top:3%;
    z-index:45646;
}


/* ======样式测试 */
@keyframes rightIn {
    0% {
        right: -114px;
    }
    100% {
        right: 0
    }
}

@-webkit-keyframes rightIn {
    0% {
        right: -114px;
    }
    100% {
        right: 0
    }
}

@-moz-keyframes rightIn {
    0% {
        right: -114px;
    }
    100% {
        right: 0
    }
}
.itemReleaseList{

}
.itemRelease{
    display: inline-block;
    width: 40%;
    background-color: #f6f7fb;
    margin-right: 2%;
    text-align: center;
    min-width: 400px;
    white-space: nowrap;
    border: 1px solid #d5dde6;
}
.itemRelease:first-child,.itemRelease:first-child +.itemRelease{
    /*border-top:1px solid #d5dde6;*/
}
.itemRelease >span{
    width: 30%;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #333;
    font-size: 13px;
    border-right: 1px solid #d5dde6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    float: left;
}
.capacityDetailRelease{
    margin: 12px 0;
}

.itemRelease >span:first-child{
    width: 44%;
    text-align: left;
    padding:0 20px;
}
.itemRelease >span:first-child +span{
    width: 26%;
    text-align: center;
}
.itemRelease >span:first-child +span +span{
    width: 29.8%;
    text-align: right;
    padding:0 20px;
    border-right:0;
}

.detailRelease{
    display: inline-block;
    background-color: #f6f7fb;
    margin-right: 2%;
    text-align: center;
    /*min-width: 400px;*/
    white-space: nowrap;
    border: 1px solid #d5dde6;
}
.detailRelease >span{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #333;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-align: center;
    border-left: 1px solid #d5dde6;
    float: left;
    padding: 0 10px;
}
/*.detailRelease >span:first-child{
    width: 25%;
    text-align: left;
    padding:0 20px;
}
.detailRelease >span:first-child +span{
    width: 25%;
    border-left: 1px solid #d5dde6;
    text-align: center;
}*/
