/*page1*/
body{
	overflow-y: scroll;
}
[v-cloak] {
	display: none;
}
body::-webkit-scrollbar {display:none}
.header{
	/*border-bottom: 0;*/
	position: relative;
}
.header span.el-input__suffix,.header span.el-input__suffix *{
	display: inline-block;
}
.header .el-select .el-input__inner{
	height: 36px;
}
.content{
	font-size: 13px;
	color: #777777;
}
.logoDiv{
	height: 230px;
}
.item{
	padding: 30px 0;
	border-top: 1px solid #ececec;
}
.play_div{
	width: 100%;
	height: 100%;
	background:url(../img/play_btn.png) center center no-repeat rgba(0,0,0,.4);
	text-align: center;
	line-height: 1;
	cursor: pointer;
}
.item .el-main{
	padding: 0 0 0 50px;
	position: relative;
}
.item .title{
	font-size: 16px;
	color: #090c38;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 10px;
}
.item .status b{
	font-weight: 100;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	width: 97px;
	position: relative;
	top: -1px;
}
.item .status .yure{
	width: 168px;
	height:27px;
	background: url(../img/icons.png) -168px -126px no-repeat;
	display: inline-block;
	line-height: 27px;
	color: #ff7a2a;
}
.item .status .going{
	width: 168px;
	height:27px;
	background: url(../img/icons.png) -0px -126px no-repeat;
	display: inline-block;
	line-height: 27px;
	color: #fe5572;
}
.item .status .over{
	width: 62px;
	height: 62px;
	position: relative;
	background: url(../img/icons.png) -146px -0px no-repeat;
	display: inline-block;
}
.item .createBy{
	color: #495060;
	font-size: 14px;
	margin-bottom: 20px;
}
.item .createBy b{
	font-weight: 100;
	color: #0179de;
}
.item .content{
	color: #2e2e46;
	font-size: 12px;
	word-spacing: 4px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 20px;
	height: 80px;
}
.btnDiv{
	position: absolute;
	bottom: 1px;
}
.btnDiv .el-button{
	background-color: #0179de;
	color: #ffffff;
	font-size: 14px;
	width: 144px;
	height: 35px;
	padding: 0;
	line-height: 35px;
}
.nodata{
	text-align: center;
	color: #777;
	font-size: 14px;
	margin-top: 50px;
}
.searchDiv{
	height: 56px;
	line-height: 56px;
}
.searchDiv b{
	color: #6b7580;
	font-size: 12px;
	font-weight: 100;
}
.searchDiv .el-button--text{
	color: #222222;
	font-size: 12px;
}
.searchDiv .el-button--text.select{
	color: #1171d1;
	font-weight: bold;
}
.videoDiv{
	max-width: 1200px;
	width:100%;
	height:500px;
	background-color: #000000;
	margin: 0 auto;
	display: none;
	position: relative;
}
#poster_img{
	width: 100%;
	height: 100%;
	position: absolute;
	background:url(../img/load.gif) center center no-repeat;
}
video::-internal-media-controls-download-button {
	display:none;
}

video::-webkit-media-controls-enclosure {
	overflow:hidden;
}

video::-webkit-media-controls-panel {
	width: calc(100% + 30px);
}
.footer {
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	border-top: 1px solid #e4eaec;
	padding: 20px;
	z-index: 109;
	text-align: center;
	background: rgba(255,255,255,.5);
	font-size: 14px;
	color: #8d8d8d;
}
.el-loading-spinner i{
	font-size: 30px;
}
iframe{
	border: 0px;
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	display: none;
	background-color: #000;
}
.listLoading{
	text-align: center;
	font-size: 30px;
	color: #80848f;
	margin-top: 20px;
	padding-bottom: 50px;
}