body{
	overflow-y: auto;
	background: #f5f8fc;
}
.header{
	position: relative;
}
.backDiv{
	width: 100%;
	border-top:1px solid #cedfe9;
}
.backDiv a{
	display: inline-block;
	padding: 7px 21px;
	background-color:#d0d4e6 ;
	border-radius:2px ;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	margin: 6px 0 5px;
}
.content{
	width: 100%;
	text-align: center;
}
.main_msg{
	width: 100%;
	text-align: center;
	height: 72px;
   margin: 25px 0 37px;
}
.main_msg .company_logo{
	position: absolute;
	width: 72px;
	height: 72px;
	display: inline-block;
    margin-left: -95px;
    margin-top: -20px;
}
.main_msg .company_logo img{
	width: 100%;
	height: 100%;
}
.main_msg .name{
	color: #333333;
	font-size: 22px;
}
.info_group{
	text-align: left;
	margin-bottom: 10px;
	background: #FFFFFF;
    padding: 5px 0;
    border-radius: 3px;
}
.info_group .info_title{
	border-left: 3px solid #26C8E0;
	padding-left: 24px;
	color: #333333;
	font-size: 14px;
	height: 20px;
    line-height: 20px;
    margin: 7px 0;
}
.info{
	width: 720px;
	margin: 0 auto;
	display: inline-block;
}
.left_info{
	float: left;
    padding: 36px 50px;
}
.left_info img{
	width: 111px;
	height: 111px;
}
.right_info{
	float: right;
	width: 505px;
	text-align: left;
	font-size: 14px;
	color: #333333;
}
.right_info .name_ctype{
	margin: 32px 0 18px;
}
.right_info .name_ctype .name{
	font-size: 24px;
	color: #333333;
	margin-right: 12px;
}
.ctype{
    position: absolute;
    /*border: 1px solid #6d748b;*/
    width: 68px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 5px;
    border-radius: 2px;
    margin-left: 10px;
    background-color: #9197a8;
}
.ctype.DISPOSITION{
	background-color: #18caa6;
}
.ctype.RECYCLING{
	width: 88px;
	background-color: #908ce1;
}
.company_list .ctype{
	margin-top: 2px;
}
.right_info .caddress{
	margin: 12px 0;
}
.messageDiv{
	width: 652px;
	margin: 0 auto;
	text-align: left;
}
.messageDiv .message_text{
	margin-left: 17px;
	margin-bottom: 12px;
	color: #333333;
    font-size: 16px;
}
.info_content{
	padding:2px 24px;
}
dl{
	width: 100%;
	display: inline-block;
	font-size: 12px;
	border-bottom:1px solid #d6e8f4;
	margin-top: -4px;
}
dl:after { clear: both; content: " "; display: block; }
dl:first-child{
	border-top:1px solid #d6e8f4;
}
dd{
	float: left;
	width: 25%;
	height: 30px;
	line-height: 30px;
}
dd.dtitle{
	color: #777777;
    padding-right: 3%;
    width: 16%;
    text-align: right;
}
dd.dcontent{
	color: #000000;
    border-right: 1px solid #d6e8f4;
    width: 28%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding-left: 2%;
}
.btn_div dd.dtitle{
	height: 40px;
	line-height: 40px;
}
.btn_div dd.dcontent{
	width: 78.8%;
	border-right: 0;
	margin-top: 5px;
	overflow: visible;
	line-height: normal;
}
dd.dcontent#name_code{
	padding-left: 0;
}
dl dd.dcontent +dd +dd{
	border-right:0;
}
dl.last_dl dd.dcontent{
	white-space: normal;
	overflow:visible;
	height: auto;
	width: 81%;
    border: 0;
}
dl.last_dl dd.dcontent .dcontent_container{
	/*border-bottom:1px solid #d6e8f4 ;*/
	/*display: inline-block;*/
	/*width: 100%;*/
	/*border-top:1px solid #d6e8f4 ;*/

}
dl.last_dl dd.dcontent .dcontent_container.codeType{
	border: 1px solid #d6e8f4;
	border-top: 0;
	padding: 0 2%;
	border-right: 0;
}
dl.last_dl dd.dcontent .dcontent_container.codeType:last-child{
	border-bottom: 0;
}
/*dl.last_dl dd.dcontent .dcontent_container:first-child{
	border-top:0 ;
}*/
dl.last_dl dd.dcontent .dcontent_container >span{
	/*float: left;*/
	width: 30%;
	/*border-bottom:1px solid #d6e8f4 ;*/
}
dl.last_dl dd.dcontent .dcontent_container >span:first-child{
	width: 35.4%;
	font-weight: bold;
}
dl.last_dl dd.dcontent .dcontent_container >span:first-child +span{
    width: 20.5%;
    text-align: right;
    color: #777777;
    /*border-left:1px solid #d6e8f4 ;*/
}
dl.last_dl dd.dcontent .dcontent_container >span:first-child +span +span{
	width: 36%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 6.1%;
}
.chanfei dd{
	width: 50%;
	text-align: center;
}
.chanfei dl.title{
	border-top:1px solid #d5e8f4;
	border-bottom:1px solid #d5e8f4;
}
.chanfei dl.title dd{
	color: #777777;
	font-size: 12px;
}
.chanfei dl dd:first-child +dd{
	width: 49%;
}
.chanfei dl dd:first-child{
	border-right:1px solid #D5E8F4 ;
}
.messageDiv#chanfei{
	display: none;
}
#chuzhi dt span,
#chuzhi dd span{
    width: 200px;
    text-indent: 0;
}
.messageDiv .tip{
	color: #8E8E8E;
	font-size: 14px;
	text-align: center;
	margin: 18px 0 36px;
}
.messageDiv .tip a{
	color: #26c8e0;
}
.list_container .tip{
	color: #8E8E8E;
	font-size: 14px;
	text-align: center;
	margin: 16px 0;
}
/*列表样式*/
.list_container{
    background-color: #fafcff;
    text-align: center;
    border-top: 3px solid #cbdde8;
}
.company_list{
	width: 1200px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
    color: #8E8E8E;
    font-size: 14px;
    text-align: center;
    margin: 16px 0;
}
.item{
	width: 100%;
	height: 20%;
	/*background:#FFFFFF;*/
     text-align: left;
   /*  border-radius:2px ;
    border: 1px solid #cbdde8; */
    margin-bottom: 16px;
    cursor: pointer;
}
/*.item:hover{
	box-shadow: 0 0 6px #a1bcd1;
	border: 1px solid #00bcd5;
}
.item:nth-child(3n-1){
	margin:0 13px;
}*/
.item_left{
	float: left;
    width: 112px;
}
.item_left img{
	width: 100%;
}
.item_right{
	float: right;
	width: 343px;
}
.item_right_content{
	    margin: 15px 0;
    line-height: 27px;
    padding-left: 32px;
    text-align: left;
	/*line-height: 112px;*/
}
.item_right .item_name{
	width: 307px;
	color: #2e2e46;
	font-size: 14px;
	 overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}
.item_right .item_address{
	width: 298px;
	color: #9698a2;
	font-size: 12px;
    padding-left: 16px;
    overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}
.item_right .item_phone{
	color: #9698a2;
	font-size: 12px;
	padding-left: 16px;
}
.address_icon,.call_icon ,.lic_icon,.chanfei_icon{
	position: absolute;
	width: 14px;
	height: 14px;
}
.address_icon{
	background: url(../img/address_icon.png) center center no-repeat;
	background-size:100% 100%;
    margin-left: -18px;
    margin-top: 6px;
}
.call_icon{
	background: url(../img/call.png) center center no-repeat;
	background-size:100% 100%;
	margin-left: -16px;
    margin-top: 5px;
}
.item .item_name{
	font-size: 16px;
	color: #0179DE;
	text-decoration: underline;
}
.item .item_address{
	padding-left: 20px;
	margin: 10px 0 12px;
}
.item .licNo{
	padding-left: 20px;
	margin: 9px 0;
}
.item .info{
	width: 100%;
	margin:5px 0;
}
.item .item_address,.item .licNo,.item .info{
	color:#777777;
	font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
}
.item .item_address >span,.item .licNo >span,.item .info >span{
	color: #000000;
	margin-left: 12px;
}
.item label.disp{
	margin-left: 10px;
	padding-left: 10px;
	border-left:1px solid #dddddd ;
}
.address_icon{
	background: url(../img/address_icon_blue.png) center center no-repeat;
	background-size:100% 100%;
    margin-left: -20px;
    margin-top: 2px;
}
.lic_icon{
	background: url(../img/lic_icon.png) center center no-repeat;
    background-size:100% 100%;
    margin-left: -20px;
    margin-top: 2px;
}
.chanfei_icon{
	background: url(../img/chanfei_icon.png) center center no-repeat;
    background-size:100% 100%;
    margin-left: -20px;
    margin-top: 1px;
}
.btnDiv{
	background: #FFFFFF;
}
.btnDiv.nobg{
	background: #f5f8fc;
}
/*.btn_div a{*/
    /*display: inline-block;*/
    /*padding: 7px 21px;*/
    /*background-color: #FFFFFF;*/
    /*border-radius: 2px;*/
    /*text-align: center;*/
    /*color: #5e5e5e;*/
    /*font-size: 12px;*/
    /*margin-bottom: 13px;*/
    /*border: 1px solid #cbdde8;*/
/*}*/
.btn_div a.btn-start{
	width: 88px;
	height: 30px;
	background-color: #0179DE;
	color: #FFFFFF;
	line-height: 30px;
	font-size: 14px;
	border-radius: 4px;
	/* margin: 30px 0 20px; */
	/*margin: 30px 0 20px;*/
}
.btn_div a.btn-start:hover{
	background-color: #165d99;
}
.codeDiv{
	display: inline-block;
	width: 64%;
	border-left: 1px solid #d6e8f4;
}
.codeDiv >span:first-child{
	display: inline-block;
	width: 31.8%;
	text-align: right;
	color: #777777;
}
.codeDiv >span:first-child +span{
	width: 58.6%;
	float: right;
	word-break: break-all;
}
@media (min-width: 1400px) {
	.company_list{
		width: 1400px;
	}
}