body{
    overflow-y: auto;
    padding-bottom: 83px;
}
.header{
    position: static;
}
.row .entName{
    display: inline-block;
    border:1px solid #008aff;
    height: 68px;
    width: 242px;
    text-align: center;
    font-size: 14px;
    float: left;
}
.container .row:after { clear: both; content: " "; display: block; }
.row .entName:first-child +.entName{
    margin-left:8px;
    margin-right:8px;
}
.row .entName:first-child +.entName +.entName{
    margin-right:8px;
}
.row div span{
    color: #008aff;
}
.row .tt{
    margin-bottom: 8px;
    margin-top: 7px;
}
.row div .hrLine{
    vertical-align:middle ;
    display:inline-block ;
    width:30px ;
    border-top:1px solid  #008aff;
}
.row div .mydata{
    display:block;
    color: #090c38;
    padding: 0px;
    width: 94%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    margin-bottom: 14px;
    font-weight: bold;
}
.remarktitle{
    margin-top: 36px;
    /*text-align: center;*/
}
.remarkdetail{
    margin-top: 10px;
    color: #2e2e46;
    font-size: 12px;
    line-height: 24px;
    /*width: 478px;*/
}
.container .button{
    text-align:center;
}
.container .button a{
    width: 144px;
    height: 35px;
    padding: 0px;
    line-height: 35px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.container .gobtn,.container .goLive2{
    background: #008aff;
    color: #ffffff;
    border:1px solid #008aff;
}
.container .button a.goLive2{
    display: none;
}
.container .gobtn.grey{
    background-color: #cccccc;
    color: #ffffff;
    cursor: not-allowed;
    border: 1px solid #cccccc;
}
.container .goIntroduction{
    font-size: 16px;
    color: #0179de;
}
.container .backbtn{
    margin-left: 8px;
    background: #ffffff;
    color: #008aff;
    border:1px solid #0178de;
}
.container .remarktitle span{
    color: #0179de;
    border-bottom:1px solid #008aff;
    width: 100px;
    display: inline-block;
    padding-bottom:4px ;
    padding-top: 0px;
    font-size: 14px;
}
.btn_two{
    width: 144px;
    height: 35px;
    display: inline-block;
    border:1px solid #008aff;
    margin-left: 8px;
}

.activityImg{
    padding: 0;
    background: #008aff;
    height:430px;
    width:100%;
    /*margin-top: 74px;*/
    text-align:center;
}
.countDown{
    font-size: 100px;
    background-image: url("../img/wasteactivity.png");
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 109;
    text-align: center;
    background: #ffffff;
    font-size: 14px;
    color: #959595;
}
.activity_btn{
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 202px;
    margin: 69px auto 0;
    height: 40px;
    line-height: 40px;
    display: block;
}
.entry-btn.grey{
    background-color: #cccccc;
    color: #ffffff;
    cursor: not-allowed;
}
.item{
    display: inline-block;
    width: 1200px;
    text-align: left;
    vertical-align: top;
}
.activity-logo-message{
    width: 940px;
    margin: 0 auto 20px;
    background-color: #fff;
    padding: 40px 30px;
}
.activity-logo-message:after{
    clear: both;
    content: '';
    display: block;
}
.activity-logo{
    /*float: left;*/
    width: 414px;
    display: inline-block;
}
.activity-message{
    float: right;
    width: 486px;
    padding-left: 40px;
    display: inline-block;
    height: 230px;
    position: relative;
}
.activity-title{
    color: #1c2438;
    font-size: 24px;
    font-weight: bold;
    margin: 4px 0 18px;
}
.info{
    margin-bottom: 14px;
}
.price-title{
    color: #2e2e46;
    font-size: 14px;
}
.price-text{
    color: #ff474d;
    margin-right: 14px;
    font-size: 14px;
    position: relative;
}
.price-text b{
    font-size: 32px;
    position: relative;
    font-family: SimHei;
    top: 2px;
}
.price-text em{
    font-style: normal;
    font-size: 14px;
}
.old-price-text{
    text-decoration: line-through;
    color: #8d8d92;
    font-size: 14px;
}
progress {
    background-color: #edeff5;
}

progress::-webkit-progress-bar {
    background-color: #edeff5;
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background-color: #ff5d5d;
    border-radius: 2px;
}
.remainText{
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}
.remainTime{
    color: #008aff;
    font-size: 14px;
    font-weight: bold;
}
.entry-btn{
    background-color: #008aff;
    width: 146px;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
}
.goLive{
    background-color: #008aff;
    width: 146px;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    display: none;
}
.riseEndTime{
    font-size: 12px;
    color: #ff0000;
}
.riseEndTime b{
    font-weight: normal;
}