.m-help{
    position: fixed;
    right:0;
    bottom: 60px;
    z-index: 1001;
    padding-left: 8px;
}
.m-help *{
    -webkit-box-sizing:content-box !important;
}
.m-help-text{
    background-color: #b5d0ff;
    color: #0179de;
    width: 20px;
    text-align: center;
    height: 98px;
    border-radius: 4px;
    padding: 42px 6px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    cursor: pointer;
    word-break: break-all;
}
.m-tip{
    position: fixed;
    display: none;
    /* width: 192px; */
    right: 36px;
    text-decoration: none;
    box-shadow: 0 0 36px #ccc;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 4px;
    bottom: 60px;
}
.m-tip.fadeIn{
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.m-help:hover .m-tip{
    display: block;
}
.m-tip ul li,.m-tip ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.m-tip ul li{
    padding: 15px 24px 15px 63px;
    width: 153px;
    cursor: pointer;
}
.m-tip ul li:hover{
    background-color: #f6f7fb;
}
.m-tip ul li:hover .m-tip-title,.m-tip ul li:hover .tel{
    color: #0179de;
}
.m-tip ul li:hover .telTitle{
    color: #222;
}
.m-tip-title{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333333;
}
.m-tip-content{
    font-size: 14px;
    color:#6a7580;
}
.suggestion,.onlineTalk,.m-help-logo,.contactTel,.closeTip{
    height: 24px;
    width: 24px;
    position: absolute;
    z-index: 1000;
    margin-left: -39px;
    margin-top: 14px;
}
.suggestion {
    background: url(../img/sprite.png) -0px -0px no-repeat;
}
.onlineTalk{
    background: url(../img/sprite.png) -24px -0px no-repeat;
}
.m-help-logo {
    background: url(../img/sprite.png) -48px -0px no-repeat;
    margin-left: -4px;
    margin-top: -31px;
}
.contactTel {
    background: url(../img/sprite.png) -72px -0px no-repeat;
}
.closeTip{
    background: url(../img/sprite.png) -96px -0px no-repeat;
    right: 12px;
    top: -3px;
}