.title{
    text-align: center;
}
.sub-title{
    text-align: center;
}
.meal-list{
    text-align: center;
    width: 760px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.meal-container{
    border: 1px solid #ffa400;
    padding: 7px 5px 7px 30px;
    width: 240px;
    margin:0  0 20px;
    border-radius: 7px;
    cursor: pointer;
    color: #1171d1;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    background: url(../img/recharge-bg.png) center center no-repeat;
    background-size: 100% 100%;
    text-align: left;
}
.meal-list .meal-container:nth-child(3n+2){
    margin: 0 20px 20px;
}
.meal-container-inner{
    height: 86px;
    line-height: 33px;
    display: inline-block;
    vertical-align: middle;
}
.meal-container.select,.meal-container:hover{
    box-shadow: 0 0 0 3px rgba(255,164,0,.8);
}
.meal-money{
    color: #ff6000;
    font-size: 14px;
}
.meal-count{
    color: #9e6d27;
    font-size: 16px;
}
.meal-money >span{
    font-weight: bold;
    font-size: 34px;
    line-height: 30px;
    position: relative;
    top: 1px;
    margin-right: 2px;
}
.meal-count >span{
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
    position: relative;
    top: 1px;
    margin-right: 2px;
}
[v-cloak] {
    display: none;
}
.title-text{
    color: #333333;
    text-align: center;
    font-size: 16px;
    margin: 30px 0;
}
.confirm-btn,.recharge-btn{
    width: 222px;
    height: 43.8px;
    padding: 0;
    color: #ffffff;
    border: 0;
    font-size: 16px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
}
.confirm-btn{
    background: url(../img/btn_red.png) center center no-repeat;
    background-size: 222px 43px;
}
.confirm-btn:hover,.recharge-btn:hover{
    background-color: transparent;
    color: #ffffff;
}
.recharge-btn{
    background: url(../img/btn_orange.png) center center no-repeat;
    background-size: 222px 43px;
}
.header-row{
    height: 100px;
    line-height: 100px;
    background: url(../img/mybit-bg.png) right center no-repeat;
    background-size: auto 100%;
    overflow: hidden;
}
.header-row b{
    color: #7b3e04;
    margin-left: 20px;
    font-size: 20px;
}
.header-row .header-text{
    color: #333333;
    font-size: 15px;
}
.header-row em{
    font-style: normal;
    color: #ff6000;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 3px;
    margin-right: 2px;
}
.bit-icon{
    height: 78px;
    width: 76px;
    background: url(../img/icons.png) 0 0 no-repeat;
    z-index: 1000;
    float: left;
    margin-top: 15px;
    margin-left: 11px;
}
.price-row{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 80px;
    line-height: 80px;
    width: 760px;
    margin: 0 auto;
    font-size: 14px;
    color: #2e2e46;
    overflow: hidden;
}
.price-row b{
    color: #ff0000;
    font-size: 18px;
}
.alipay{
    height: 33px;
    width: 92px;
    background: url(../img/icons.png) -234px -78px no-repeat;
    position: relative;
    z-index: 10;
    display: inline-block;
    top: 10px;
    margin:0 10px;
}

.el-tabs__nav{
    background-color: #ffffff;
    margin-bottom: -0.6px;
}
.el-tabs__nav-wrap{
    margin-bottom: 0;
}
.el-tab-pane .el-tabs__nav{
    background-color: #ffffff;
    width: 150px;
    float: none;
    margin: 0 auto;
}
.el-tab-pane .el-tabs__header{
    border-bottom: 0;
    margin-bottom: 0;
}
.el-tab-pane .el-tabs__item{
    width: 100px;
    text-align: center;
}
.el-tabs--card>.el-tabs__header .el-tabs__item{
    border-top:1px solid #e9eaef;
    border-right:1px solid #e9eaef;
    padding: 0 30px;
    color: #222;
    width: 200px;
    text-align: center;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    background-color: #1071d0;
    border-top:1px solid #e9eaef;
    border-right:1px solid #e9eaef;
    color: #ffffff;
}
.el-tabs--card>.el-tabs__header{
    margin-bottom: 0;
    border-bottom: 1px solid #1071d0;
}
.el-tabs__content{
    background-color: #ffffff;
    overflow-y: auto;
}
.pay-success-div-text1{
    color: #2e2e46;
    font-weight: bold;
    font-size: 16px;
    margin: 50px 0 10px;
}
.pay-success-div-text2{
    color: #2e2e46;
    font-size: 16px;
    margin-bottom: 50px;
}
.pay-success-div-text2 >span{
    color: #ff6000;
}
.pay-success-div-text2 b{
    font-size: 27px;
    margin: 0 5px;
    line-height: 24px;
    position: relative;
    top: 2px;
}