<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlsc.yifeiwang.activity.mapper.WasteActivityContactsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlsc.yifeiwang.activity.entity.WasteActivityContacts">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="ent_id" property="entId"/>
        <result column="ent_name" property="entName"/>
    </resultMap>
    <sql id="whereCondition">
        <if test="cantonCode !=null and cantonCode!='' ">
            AND ent.cantonCode like concat(#{cantonCode},'%')
        </if>
        <if test="industry != null and industry != ''  ">
            AND ent.industry = #{industry}
        </if>
        <if test="entTypeCode != null and entTypeCode != '' ">
            AND ent.entType = #{entTypeCode}
        </if>
    </sql>
    <select id="obtainActivityContactList" resultMap="BaseResultMap"
            parameterType="com.mlsc.yifeiwang.activity.model.ActivityContactsQueryParam">
        SELECT DISTINCT
        t.*,#{activityId} AS activity_id,#{status} as status
        FROM
        (
        SELECT
        entId as ent_id,
        entName as ent_name,
        ent.contacts as user_name,
        contactsTel as user_phone,
        now() as create_time,
        now() as update_time,
        "system" as create_by,
        "system" as update_by
        FROM
        sys_enterprise_base ent
        WHERE
        entStatus = 0
        <include refid="whereCondition"></include>
        ) AS t
        INNER JOIN ent_waste ew ON t.ent_id = ew.entId
        AND ew.wasteId IN (
        SELECT
        detail.waste_id
        FROM
        operation_licence_detail detail
        INNER JOIN operation_licence lic ON detail.licence_id = lic.id
        <if test="entId != null and entId != '' ">
            AND lic.enterprise_id = #{entId}
        </if>
        AND lic.valid = '1'
        AND lic.start_date &lt;= NOW()
        AND lic.end_date &gt;= NOW()
        )
    </select>


    <select id="getConstactsUserFromEnterContacts" resultMap="BaseResultMap"
            parameterType="com.mlsc.yifeiwang.activity.model.ActivityContactsQueryParam">
        SELECT DISTINCT
        t.*,#{activityId} AS activity_id,#{status} as status
        FROM
        (
        SELECT
        ent.entId as ent_id,
        ent.entName as ent_name,
        entContacts.contacts as user_name,
        entContacts.contactsTel as user_phone,
        now() as create_time,
        now() as update_time,
        "system" as create_by,
        "system" as update_by
        FROM
        sys_enterprise_base ent inner join sys_enterprise_contacts entContacts on ent.entId = entContacts.entId
        WHERE
        entStatus = 0
        <include refid="whereCondition"></include>
        ) AS t
        INNER JOIN ent_waste ew ON t.ent_id = ew.entId
        AND ew.wasteId IN (
        SELECT
        detail.waste_id
        FROM
        operation_licence_detail detail
        INNER JOIN operation_licence lic ON detail.licence_id = lic.id
        <if test="entId != null and entId != '' ">
            AND lic.enterprise_id = #{entId}
        </if>
        AND lic.valid = '1'
        AND lic.start_date &lt;= NOW()
        AND lic.end_date &gt;= NOW()
        )
    </select>


    <select id="getUserPhoneByActivityId" resultType="com.mlsc.yifeiwang.activity.entity.WasteActivityContacts">
        select DISTINCT(activityContacts.user_phone) as userPhone from waste_activity_contacts activityContacts
        where activityContacts.user_phone REGEXP "^[1][35678][0-9]{9}$"
        AND not exists
        (
        select * from invalid_phone invalidPhone
        where activityContacts.user_phone = invalidPhone.phoneNum and activityContacts.activity_id =
        invalidPhone.activityId
        )
        <if test=" activityId !=null and activityId !='' ">
            and activityContacts.activity_id = #{activityId}
        </if>
    </select>

    <select id="countNotifyEnt" resultType="java.lang.Integer"
            parameterType="com.mlsc.yifeiwang.activity.model.ActivityContactsQueryParam">
        SELECT count(DISTINCT(ent_id))
        FROM
        (
        SELECT
        entId as ent_id
        FROM
        sys_enterprise_base ent
        WHERE
        entStatus = 0
        <include refid="whereCondition"></include>
        ) AS t
        INNER JOIN ent_waste ew ON t.ent_id = ew.entId
        AND ew.wasteId IN (
        SELECT
        detail.waste_id
        FROM
        operation_licence_detail detail
        INNER JOIN operation_licence lic ON detail.licence_id = lic.id
        <if test="entId != null and entId != '' ">
            AND lic.enterprise_id = #{entId}
        </if>
        AND lic.valid = '1'
        AND lic.start_date &lt;= NOW()
        AND lic.end_date &gt;= NOW()
        )
    </select>

    <select id="countConstactsUserFromEnterContacts" resultType="java.lang.Integer"
            parameterType="com.mlsc.yifeiwang.activity.model.ActivityContactsQueryParam">
        SELECT count(DISTINCT(ent_id))
        FROM
        (
        SELECT
        ent.entId as ent_id
        FROM
        sys_enterprise_base ent inner join sys_enterprise_contacts entContacts on ent.entId = entContacts.entId
        WHERE
        ent.entStatus = 0
        <include refid="whereCondition"></include>
        ) AS t
        INNER JOIN ent_waste ew ON t.ent_id = ew.entId
        AND ew.wasteId IN (
        SELECT
        detail.waste_id
        FROM
        operation_licence_detail detail
        INNER JOIN operation_licence lic ON detail.licence_id = lic.id
        <if test="entId != null and entId != '' ">
            AND lic.enterprise_id = #{entId}
        </if>
        AND lic.valid = '1'
        AND lic.start_date &lt;= NOW()
        AND lic.end_date &gt;= NOW()
        )
    </select>
</mapper>
