*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 720px;
    margin: 0 auto;
}
.cover-bg{
    width: 100%;
    background: url(../img/qixiu.jpg) left top no-repeat;
    background-size: 100% 100%;
    height: 17.8rem;
}
.cover-bg img{
    width: 100%;
    display: block;
}
.tel-div{
    text-decoration: none;
    margin: -4.08rem 0 0 .59rem;
    font-size: .41rem;
    color: #e8ffff;
    position: absolute;
}
.tel{
    text-decoration: none;
    color: #e8ffff;
    margin-left: .2rem;
    font-size: .5rem;
    position: relative;
    top: .02rem;
    text-decoration: underline;
}
.tel:active{
    background-color: transparent;
}
.tip-text{
    color: #e8ffff;
    font-size: .35rem;
    margin-left: .3rem;
}
.share{
    width: 1.2rem;
    height: 1.2rem;
    background: url(../img/share.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: .49rem;
    top: 12.3rem;
}
.bg{
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
}
.bg img{
    width: 100%;
}
.ios-arrow,.android-arrow{
    margin-top: -1rem;
}
.share_box {
    position: fixed;
    text-align: center;
    z-index: 101;
    bottom: 0px;
    background-color: rgba(51, 51, 51,.8);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #AAA;
    left: 0;
    right: 0;
    display: none;
}
.share_box >a{
    display: inline-block;
    font-size: .35rem;
    color: #fff;
    width: 2rem;
    text-align: center;
    text-decoration: none;
}
.share_box >a img{
    width: 1rem;
    margin-bottom: .2rem;
}
.share_box >a.close{
    width: .6rem;
    height: .6rem;
    background: url(../img/close.png) center center no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    right: .2rem;
    top: .1rem;
}
.android-arrow{
    width: 100%;
    height: 16rem;
    background: url(../img/right-bottom-arrow.png) center center no-repeat;
    background-size: 100% 100%;
}
.ios-arrow{
    width: 100%;
    height: 16.5rem;
    background: url(../img/bottom-center-arrow.png) center center no-repeat;
    background-size: 100% 100%;
}
.weixin-arrow{
    width: 100%;
    height: 15rem;
    background: url(../img/right-top-arrow.png) center center no-repeat;
    background-size: 100% 100%;
}