*{
    padding: 0;
    margin: 0;
}
.con{
    padding: .4rem;
}
.title {
    font-size: .42rem;
    color: #090c38;
    font-weight: bold;
    margin: 0 auto .32rem;
}
.sub-title{
    color: #80848f;
    font-size: .35rem;
    margin-bottom:.5rem;
}
.content{
    font-size: .39rem;
    line-height: 0.7rem;
}
.content img{
    width: 100%;
    display: block;
}
.header{
    text-align: center;
    height: 1.2rem;
    line-height: 1rem;
    border-bottom:1px solid #e7ebf6;
}
.back{
    color: #38f;
    font-size: 1.2rem;
    text-decoration: none;
    position: absolute;
    left: .4rem;
}
.middle-text{
    font-size: .4rem;
    vertical-align: middle;
    width: 7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.share-btn{
    font-size: .37rem;
    text-decoration: none;
    position: absolute;
    right: .4rem;
    top: .1rem;
    color: #1171d1;
}
.share-tip{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    display: none;
    z-index: 10;
}
.share-tip img{
    position: absolute;
    width: .9rem;
    right: .5rem;
    top: 0.2rem;
}
.share-tip span{
    color: #fff;
    font-size: .44rem;
    text-align: center;
    display: block;
    margin-top: 1.2rem;
    letter-spacing: .2rem;
}
.enter-btn{
    position: fixed;
    bottom: 0;
    width: 10rem;
    height: 1.6rem;
    background: url(../img/download.png) center center no-repeat;
    background-size: 100% 100%;
}
.more{
    padding: 0 .3rem 1.6rem;
}
.top-bar {
    display: block;
    background-image: url(../../pc/img/normal-sprite.png);
    background-position: -327px 0;
    width: 320px;
    height: 2px;
    border: none;
}
.more-title{
    font-size: .4rem;
    color: #323953;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.infor-item{
    color: #333;
    font-size: 14px;
    display: table;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
    overflow: auto;
    padding: .2rem 0;
    text-decoration: none;
}
.infor-item b {
    font-size: .36rem;
    letter-spacing: .1rem;
    line-height: .6rem;
    font-weight: 700;
    width: .5rem;
    color: #4d4f53;
    display: inline-block;
    float: left;
}
.infor-item >span.infor-name {
    display: table-cell;
    width: 8.7rem;
    vertical-align: middle;
}