.van-nav-bar__title{
    margin-left: 21px;
}
.van-search--show-action{
    background-color: #ffffff !important;
}
.van-search__action{
    margin-right: 9px;
    margin-left: 0;
    width: 49px;
    text-align: center;
}
.van-nav-bar{
    height: 43px;
}
.dl{
    width: 100%;
}
.di{
    width: 96%;
    margin: 0 2%;
    padding: 3% 0;
    border-bottom: 1px solid #dce4f2;
    font-size: .36rem;
}
.di .di_m{
    width: 100%;
}
.di .di_m p{
    line-height: 27px;
    height:27px;
}
.di .di_m .code{
    color: #293f66;
    font-weight: bold;
}
.di .di_m .name{
    color: #293f66;
}
.di_other .info{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #6b7c99;
    margin: 0.3rem 0;
}