<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易废网-平台够大,价格够低</title>
</head>
<body>
<script src="http://www.yifeiwang.com/swp/main/mobile/js/zepto.min.js"></script>
<script>
    $(document).ready(function () {
        var openId=localStorage.openId;
        var openIdParam=getParam('openId');
        if(!openId&&!openIdParam){
            this.getOpenId();
            return;
        }else if(openIdParam){
            openId=openIdParam;
            localStorage.openId=openIdParam;
        }
        if(!openId){
            return;
        }
        if(localStorage.bindStatus!=''){
            checkOpenId(openId);
        }else if(!localStorage.ticketId||localStorage.ticketId=='undefined'){
            checkOpenId(openId);
        }else{
            autoLogin(openId,localStorage.ticketId);
        }
    });
    function autoLogin(openId,ticketId){
        $.ajax({
            url:'/swp/user/getTicketId',
            type:'post',
            dataType:'json',
            data:{
                openId:openId,
                ticket:ticketId
            },
            success:function (result) {
                console.log(result);
                if(result.status==1&&result.data.user){
                    var ticketId=result.data.ticketId;
                    var user=result.data.user;
                    var cantonCode=user?user.cantonCode:'';
                    if(cantonCode&&cantonCode.length>2){
                        localStorage.province=cantonCode.substring(0,2);
                    }
                    localStorage.entType=user.entType;
                    localStorage.entId=user.enterpriseId;
                    localStorage.ticketId=ticketId;
                    localStorage.userId=user.userId;
                    localStorage.userName=user.userName;
                    localStorage.phoneNo=user.phoneNo;
                    window.location='/mobile/#publish';
                }else{
                    window.location='/swp/login.jsp';
                }
            }
        });
    }
    function checkOpenId(openId) {
//        localStorage.bindStatus='NOUSER';//NOUSER是未绑定用户  NOENT是未绑定企业  空字符串是都绑定
        $.ajax({
            url:'/swp/user/getCodeByOpenId',
            type:'post',
            dataType:'json',
            data:{
                openId:openId
            },
            success:function (result) {
                console.log(result);
                if(result.status==1){
                    var code=result.data.code;
                    localStorage.bindStatus=code;
                    if(code=='NOUSER'){
                        window.location='/swp/login.jsp';
                        return;
                    }
                    var ticketId=result.data.ticketId;
                    var user=result.data.user;
                    var cantonCode=result.data.user?result.data.user.cantonCode:'';
                    if(cantonCode&&cantonCode.length>2){
                        localStorage.province=cantonCode.substring(0,2);
                    }
                    localStorage.entType=user.entType;
                    localStorage.entId=user.enterpriseId;
                    localStorage.ticketId=ticketId;
                    localStorage.userId=user.userId;
                    localStorage.userName=user.userName;
                    localStorage.phoneNo=user.phoneNo;
                    if(code=='NOENT'){
                        document.cookie='uid='+user.phoneNo+';path=/swp';
                        document.cookie='sdktoken='+user.imToken+';path=/swp';
                        document.cookie='nickName='+escape(user.userName)+';path=/swp';
                        window.location='/swp/myenterprise/bindEnterprise.htm?ticketId='+ticketId;
                    }
                    if(!code){
                        window.location='/mobile/#publish';
                    }

                }
            }
        });
    }
    function getOpenId() {
        var url='http://www.yifeiwang.com/swp/weixin/getOpenId?redirectUrl='+encodeURI('/main/mobile/view/checkWeChat.html');
        var str='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1f7da8ce41f7ac3e&redirect_uri='+encodeURI(url)+'&response_type=code&scope=snsapi_base&state=1#wechat_redirect';
        window.location=str;
    };
    function getParam(paraName) {
        var search = document.location.search,
            reg = new RegExp("[?&]+" + paraName + "=([^&]+)");
        if (search && reg.test(search)) {
            return decodeURIComponent(RegExp['$1']).replace(/\+/g, " ");
        }
        return null;
    };
</script>
</body>
</html>