<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <title>Title</title>
</head>
<body>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    dadawda<br/>
    已经到低了
    <a href="javascript:;" onclick="down()" style="position: fixed;font-size:30px;bottom: 100px;right: 10px;background-color: #ff6000">down</a>
<script>
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    alert(isAndroid);
    function down() {
        document.body.scrollTop=document.documentElement.scrollTop=500;
//        window.scrollTo(0,20000);  //修改500为指定高度
    }
</script>
</body>
</html>