.file-preview-frame{
    display: table;
    margin: 8px;
    height: 100px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0px #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
.text-preview{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-preview-frame img{
    width: auto;
    height:100px;
    cursor: pointer;
}
.file-thumbnail-footer:after{ clear: both; content: " "; display: block; }
.file-caption-name{
    display: inline-block;
    overflow: hidden;
    max-height: 20px;
    padding-right: 10px;
    word-break: break-all;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
}
.deleteImg{
    float: right;
    font-size: 15px;
    margin-top: 1px;
    color: #2d8cf0;
}
.downloadImg{
    float: right;
    font-size: 15px;
    margin-top: 1px;
    color: #2d8cf0;
    margin-left: 14px;
}
.large{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    height: 100%;
    background: rgba(0,0,0,.8);
}
.large img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}