.cloud-msg-container {
	margin-left: 292px;
	height: 620px;
	background-color: #fff;
	position: fixed;
	width: 710px;
	top: 100px;
	z-index: 10000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*display: none;*/
}

.cloud-msg-container .info-content {
	border: none;
	height: 520px;
}

.info-box .title {
	line-height: 50px;
	font-size: 16px;
	background-color: #e5f4ff;
	color: #666;
	position: relative;
	border-bottom: 1px solid #ced4d9;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.tc {
	text-align: center;
}

.info-content {
	height: 300px;
	padding: 12px 20px;
	overflow-y: scroll;
	border-bottom: 1px solid #ddd;
}

.cloud-msg-container .info-content {
	border: none;
	height: 520px;
    border: 1px solid #e5f4ff;
    border-top: 0;
}

.u-status {
	margin-bottom: 10px;
}

.u-status span,
.u-status a {
	padding: 3px 15px;
	background-color: #e5f4ff;
	color: #6b8299;
}

.u-msgTime {
	text-align: center;
	font-size: 12px;
	color: #aaaaaa;
	line-height: 30px;
}

.cloud-msg-container .item {
	overflow: hidden;
	padding: 4px 0px 10px 0px;
}

.item-me img {
	float: right;
	margin-left: 4px;
}
.msg .cnt img{
	width: 100%;
	max-width: 290px;
}
.item-me img.emoji{
	width: 20px;
}
.item-you img.emoji{
	width: 20px;
	float: none;
	margin-right: 0;
    margin-left: 3px;
}
.item-you .img,
.item-me .img {
	width: 40px;
	height: 40px;
    border-radius: 20px;
}

.msg {
	position: relative;
	margin-top: 5px;
	border-radius: 8px;
	border: 1px solid;
}

.item-me .msg-text {
	float: right;
	color: #fff;
	background: #5cacde;
}

.msg .box {
	position: relative;
	padding: 7px 12px;
	zoom: 1;
	float: none;
	width: auto;
	height: auto;
	margin-left: 0;
	border: 0;
	text-align: center;
}

.msg .box:hover {
	border: 0;
}

.msg .cnt {
	position: relative;
	min-height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	font-size: 14px;
}

.item-me .msg:after {
	left: 100%;
	border-left: 5px solid #5cacde;
}

.msg:before,
.msg:after {
	content: ' ';
	position: absolute;
	top: 11px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	width: 0;
	height: 0;
}

.item-you .msg:before {
	right: 100%;
	border-right: 5px solid #eaeeef;
}

.f-cb {
	margin: 0;
	padding: 0;
	zoom: 1;
}
.f-cb .load{
	text-align: center;
	margin-top: 10px;
}
.u-status span,
.u-status a {
	padding: 3px 15px;
	background-color: #e5f4ff;
	color: #6b8299;
}


/*.f-maxWid {
	    max-width: 290px;
	    width: 290px;
	}*/

.item .readMsg {
	display: none;
	color: #6b8299;
	font-size: 12px;
	padding: 5px 5px;
	text-align: right;
	line-height: 37px;
	float: right;
}

.back-btn {
	width: 68px;
	height: 34px;
	line-height: 34px;
	background-color: #f5f5f5;
	color: #88939b;
	font-size: 12px;
	border: 1px solid #ced4d9;
	position: absolute;
	right: 15px;
	top: 8px;
	padding: 0;
	font-family: inherit;
}

.item-you img {
	float: left;
	margin-right: 14px;
}

.item-you .msg-text {
	float: left;
	color: #6b8299;
	background: #eaeeef;
	border-color: #eee;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
}
.u-audio{width:164px;position: relative;height: 20px;cursor: pointer;}
.u-audio b{position:absolute;top: 1px;color:#fff;font-size:10px;font-family:arial,"simsun";}
.u-audio.right b{left:8px;}
.u-audio.left b{right: 8px;color:#6b8299;}
.u-audio .playAudio{position: absolute;}
.u-audio.right .playAudio{color:#fff;right:10px;}
.u-audio.left .playAudio{color:#6b8299;left:10px;}
.u-audio .u-icn-play{display:none;position: absolute;top: 3px;right: 9px;background: url("../webdemo/im/images/play1.gif") no-repeat;background-size:80%;width: 14px;height: 20px;}
.u-audio.left .u-icn-play{position: absolute;left: 9px;background: url("../webdemo/im/images/play0.gif") no-repeat;background-size:80%;width: 14px;height: 20px;}
.u-audio.play .u-icn-play{display: block;}
.u-audio.play .playAudio{display: none;}