body {
    /*   font-family:"Helvetica Neue",Helvetica,Arial,"MicrosoftYahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;  */
    font-family: "MicrosoftYaHei" !important;
    color: #7A7C7E !important;
}

body.layout-h {
    background-color: #edeff5;
}

/* 确认等大按钮的属性 */
.btn-confirm-big {
    height: 30px !important;
    width: 56px !important;
    background-color: #1171d1;
    border-color: #1171d1;
}

/* 取消等大按钮的属性 */
.btn-confirm-small {
    height: 30px !important;
    width: 56px !important;
    background-color: #1171d1;
    border-color: #1171d1;
}

/* 确认等小按钮的属性 */
.btn-off-big {
    height: 30px !important;
    width: 56px !important;
    background-color: #1171d1;
    border-color: #1171d1;
}

/* 取消等小按钮的属性 */
.btn-off-small {
    height: 30px !important;
    width: 56px !important;
    background-color: #1171d1;
    border-color: #1171d1;
}

.tool-div2 {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 1px solid #DDE6E9;
    border-radius: 4px;
}

.tool-div {
    margin-bottom: 2px;
    margin-top: -10px;
}

.btn-group {
    margin-right: 10px;
}

/*
用于隐藏datatables的全局搜索框，现在已经弃用，应通过datatable的配置参数来隐藏
*/
#example_filter {
    display: none;
}

.hidden {
    display: none;
}

/*
 仿bootstrap的.panel效果，不影响datatables的水平滚动条效果。
 如果把datatables放置在bootstrap中的.panel中，水平滚动条无法正常显示，所以增加了该样式类
*/
.waste-panel {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #DDE6E9;
    border-radius: 4px;
    overflow: hidden;
}

.waste-panel .table .filter input {
    border: 1px solid #DDE6E9;
    border-radius: 4px;
    padding: 3px 7px;
    width: 100%;
    box-sizing: border-box;
}

.waste-panel .bottom .dataTables_length, .waste-panel .bottom .dataTables_info {
    float: left;
}

.waste-panel .bottom .dataTables_length {
    margin-top: 4px;
    margin-right: 20px;
}

/*
  覆盖了app.css中的样式定义，主要是页面说明区的高度。
*/
.content-wrapper > h3,
.content-wrapper > .content-heading {
    padding: 1px 20px;
}

.content-wrapper > h3,
.content-wrapper > .content-heading {
    padding: 20px 20px;
    height: 64px;
    background-color: #fafafa !important;
    border-bottom-color: #cadfe7 !important;
}

.content-wrapper > .content-heading > small {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #222222;
    display: inline-block;
    padding-left: 12px;
    border-left: 2px solid #1171d1;
    height: 14px;
}

.content-wrapper > .content-heading > strong {
    font-family: "微软雅黑";
    font-size: 24px;
    color: #222222;
    margin-right: 10px;
}

.platformtitle {
    padding-top: 13px;
    padding-bottom: 0px;
    color: white;
}

.sidebar-subnav > li > a, .sidebar-subnav > li > .nav-item {
    padding: 4px 20px !important;
    padding-left: 41px !important;
    margin-bottom: 10px;
}

.sidebar > .nav > li > a, .sidebar > .nav > li > .nav-item {
    padding: 7px 20px !important;
}

.sidebar > .nav > li > a > span {
    color: #405378;
    font-family: "微软雅黑";
    font-size: 14px;
}
.sidebar > .nav > li > a > span:hover{
    color: #1171d1;
}
.enterprise-type-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 4px;
}

.production-badge { /*<!-- 产废企业-->*/
    border: 1px solid #9297a8;
    font-size: 12px;
    color: #9297a8;
}

.disposition-badge { /*<!-- 处置企业-->*/
    border: 1px solid #18caa6;
    font-size: 12px;
    color: #18caa6;
}

.dis_facilitator-badge { /*<!-- 综合利用企业-->*/
    border: 1px solid #908ce2;
    font-size: 12px;
    color: #908ce2;
}

.identification-badge { /*<!-- 鉴定机构-->*/
    border: 1px solid #feb300;
    font-size: 12px;
    color: #feb300;
}

.facilitator-badge{
    border: 1px solid #ff474d;
    font-size: 12px;
    color: #ff474d;
}

.signread {
    width: 66px;
    height: 15px;
    font-weight: normal;
    display: inline-block;
    padding: 0;
    line-height: 15px;
    cursor: pointer;
}

.label-default.signread {
    background: #1171d1;
}

.label-success.signread {
    background: #cbdde8;
}

.btn_loading {
    background-image: url(../app/img/btn_loading.gif);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

/* 关于按钮的样式 */
/* 搜索按钮 */
.btn_search {
    width: 56px !important;
    height: 30px !important;
    border-color: #ffffff !important;
    background: url(../app/img/circle/seek_btn.png) no-repeat;
    color: #ffffff !important;
}

/*确认按钮  */
.btn_yes {
    width: 60px !important;
    height: 26px !important;
    border-color: #ffffff !important;
    background: url(../app/img/circle/btn_yes.png) no-repeat;
    color: #ffffff !important;
}

/*取消按钮  */
.btn_no {
    width: 60px !important;
    height: 26px !important;
    border-color: #ffffff !important;
    background: url(../app/img/circle/btn_no.png) no-repeat;
    color: #ffffff !important;
}

.mainWindow {
    margin-top: 20px
}

.notice-font14 {
    font-family: 微软雅黑;
    font-size: 14px;
    color: #222222 !important;
}

.notice-font15 {
    font-family: 微软雅黑;
    font-size: 12px;
    color: #6a7580 !important;
}

.goback {
    margin-left: 4px !important;
    width: 56px !important;
    height: 30px !important;
    border-color: #ffffff !important;
    background: url("../app/img/circle/seek_btn.png") no-repeat;
    color: #ffffff !important;
}

.list-group {
    width: 450px;
}

#cnzz_stat_icon_1262780704 {
    display: none;
}

.el-breadcrumb {
    background-color: #FFFFFF;
    padding: 16px 20px;
    /*color: #222222;*/
    font-size: 14px;
    height:53px;
    margin-bottom: 0;
    font-family:"微软雅黑";
}

.el-breadcrumb__item__inner {
    color: #222222 !important;
}

.el-breadcrumb__item__inner:hover {
    color: #1171d1 !important;
}

.el-breadcrumb__separator {
    color: #222 !important;
}

.el-breadcrumb .el-breadcrumb__item {
    position: relative;
    top: 6.1px;
}

.el-breadcrumb .el-breadcrumb__item:first-child {
    top: 0;
    font-size: 20px;
}
.el-breadcrumb__inner,.el-breadcrumb__separator{
    font-weight: 100 !important;
    color: #222 !important;
}
.el-breadcrumb__separator{
    font-size: 14px;
}
.el-breadcrumb .el-breadcrumb__item:first-child .el-breadcrumb__item__inner {
    font-size: 20px;
    color: #222;
}

.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover {
    color: #222 !important;
}

.el-breadcrumb .el-breadcrumb__item:first-child .el-breadcrumb__item__inner:hover {
    /*color: #222222 !important;*/
}

.el-breadcrumb {
    font-size: 13px;
    line-height: 1;
    margin: 20px 0;
}

.el-breadcrumb__separator {
    margin: 0 8px;
    color: #bfcbd9
}

.el-breadcrumb__item {
    float: left
}

.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover {
    color: #97a8be;
    cursor: text
}

.el-breadcrumb__item:last-child .el-breadcrumb__separator {
    display: none
}

.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a {
    transition: color .15s linear;
    color: #222
}

.el-breadcrumb__item__inner a:hover, .el-breadcrumb__item__inner:hover {
    color: #1171d1;
    cursor: pointer;
    text-decoration: none;
}
.el-breadcrumb__item:last-child .el-breadcrumb__separator{
    display: none;
}
.el-table thead tr {
    background-color: #f6f7fb;
    color: #6a7580;
}
.el-table td, .el-table th{
    padding: 6px 0 !important;
}
.el-table--border .el-table__body-wrapper{
    overflow-x: hidden !important;
}
button{
    font:icon;
}