<link rel="stylesheet" href="../css/search_new.css" />
<div id="app">
    <van-nav-bar title="标题" left-arrow @click-left="onClickLeft">
        <van-search
                placeholder="搜索危废代码，名称，企业名称，区域"
                v-model="keyword"
                slot="title"
                show-action
                @search="onSearch">
            <div slot="action" @click="onSearch">搜索</div>
        </van-search>
    </van-nav-bar>
    <van-list
            v-model="loading"
            :offset="400"
            :finished="finished"
            @load="onLoad">
            <div v-for="(item,index) in list" :key="index" class="di di_cz" @click="queryEntDetail(item)">
                <div class="di_m">
                    <a href="/swp/login.jsp" class="cd">
                        <span class="name" v-html="closeLight(item.entName).replace(/keyword/g, `<span style='color: red;'>${keyword}</span>`)"></span>
                        <van-icon name="arrow" style="float: right"/>
                    </a>
                </div>
                <div class="di_other">
                    <p class="info" v-html="'地址：'+closeLight(item.entAddress).replace(keyword, `<span style='color: red;'>${keyword}</span>`)"></p>
                    <p class="info" >许可证编号：{{item.liceneNo}}</p>
                    <p class="info" v-html="'经营方式：'+closeLight(item.dispositionType||'').replace(keyword, `<span style='color: red;'>${keyword}</span>`)"></p>
                    <p class="info" v-html="'核准危废类别：'+closeLight(item.wasteCode?parseWasteCode(item.wasteCode):'&#45;&#45;').replace(keyword, `<span style='color: red;'>${keyword}</span>`)"></p>
                </div>
            </div>
    </van-list>
    <div v-if="finished" style="text-align: center;color: #6b7c99;padding: 16px 0;font-size: 0.35rem;">数据加载完成</div>
</div>
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            keyword:getParam('keyword'),
            list: [],
            loading: false,
            finished: false,
            pageIndex:1,
            pageSize:3,
            totalRecord:''
        },
        created: function () {
            this.getList();
        },
        mounted: function () {
        },
        methods: {
            onClickLeft:function () {
                window.location='#index';
            },
            onSearch:function () {
                collectingUserBehavior('MOBILE_INDEX_SEARCH','关键字：'+this.keyword);
                window.location='?keyword='+this.keyword+'#search';
                this.list=[];
                this.pageIndex=1;
                this.finished=false;
                this.getList();
            },
            getList:function () {
                this.loading=true;
                $.ajax({
                    url: '/swp/enterprise/getEnterpriseSuggest.htm',
                    type: 'POST',
                    data: {
                        entType: 'DISPOSITION',
                        wasteCodeOrName: this.keyword,
                        pageIndex: this.pageIndex++,
                        pageSize:this.pageSize,
                        cantonCode:'32'
                    },
                    dataType: 'json',
                    success: function (result) {
                        vue.loading=false;
                        if(result.status==1){
                            vue.list=vue.list.concat(result.data['entList']);
                            vue.totalRecord=result.data['paging']['totalRecord'];
                            vue.finished=vue.list.length>=vue.totalRecord;
                        }
                    }
                });
            },
            onLoad:function () {
                console.log('触发load方法');
                if(!this.finished){
                    this.loading=true;
                    setTimeout(function () {
                        vue.getList();
                    },500)
                }
            },
            parseWasteCode:function (wasteCode) {
                var str='';
                for(var code in wasteCode){
                    str+='HW'+code+'('+wasteCode[code]+')';
                }
                return str;
            },
            closeLight:function (str) {
                return str.replace(/<font color="red">/g,'').replace(/<\/font>/g,'');
            },
            queryEntDetail:function (item) {
                item.entName=item.entName.replace(/<font color="red">/g,'').replace(/<\/font>/g,'');
                collectingUserBehavior('MOBILE_INDEX_DIS','查看了：'+item.entName);
                window.location='?entId='+item.id+'#entDetail';
            }
        }
    });

</script>