<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>本地旗舰店</title>
    <meta name="keywords" content="危废处置,危废询价,危废管家服务,处置危废">
    <meta name="description" content="易废网,危废处置,危废询价,处置危废,提供一站式固废解决方案">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="./app/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="./main/common/elementui/index.css">
    <link rel="stylesheet" href="main/pc/css/common.css?11" />
    <link rel="stylesheet" href="css/wastecircle/flagship.css?3">
    <style type="text/css">
        .package-item{
            width: 208px;
        }
        .banner{
            height: 200px;
        }
        .package-header{
            height: 125px;
        }
        .package-item.active .package-header{
            height: 124px;
        }
        .chat-btn{
            width: 82px;
            padding-left: 32px;
        }
    </style>
</head>

<body>
<div id="app">
    <div class="header"  id="cfBanner">
        <div class="container">
            <div class="logo">
                <a href="/swp/index.html" tag="0" title="易废网"><img src="main/pc/img/logo_short.png" alt="易废网 logo"></a>
            </div>
            <div class="headerAction" >
				<span class="no-login">易废网欢迎你！
					请<a href="login.jsp" class="login-btn">登录</a><b>/</b>
					<a href="register.jsp" class="register-btn">注册</a>
				</span>
                <span class="is-login">你好，<b id="userName"></b><a href="javascript:">进入易废圈></a></span>
            </div>
            <ul>
                <li>
                    <a href="/swp/index.html" id="menu-home" title="首页">首页</a>
                </li>
                <li>
                    <a href="/swp/main/pc/view/company.html" id="menu-company" title="危废经营单位">危废经营单位</a>
                </li>
                <li>
                    <a href="/swp/main/pc/view/activityList.html" id="menu-activity" title="促销活动">促销活动</a>
                </li>
                <li>
                    <a href="/swp/main/pc/view/information.html" id="menu-information" title="危废小课堂">危废小课堂</a>
                </li>
                <li class="active">
                    <a href="javascript:" id="menu-tmall" title="本地旗舰店">本地旗舰店</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <div class="banner-content">
            <el-row>
                <el-col :span="18" class="banner-title" v-cloak>易废网{{provinceObj[cantonCode]}}旗舰店
                    <a href="javascript:" class="chat-btn" @click="doAction" title="联系TA">
                        联系TA</a>
                </el-col>
                <el-col :span="6" align="right">
                    <a href="javascript:" @click="inquiry" class="banner-btn">询价></a>
                </el-col>
            </el-row>
            <el-row style="margin-top: 24px">
                <el-col :span="18" class="banner-subtitle">提供危废取样，报价，合同签订，危废转移及危废管家服务</el-col>
                <el-col :span="6" align="right" class="banner-tel">
                    <i class="tel"></i>0512-62717018
                </el-col>
            </el-row>
        </div>
    </div>
    <div v-if="list.length>0">
        <div class="service-title"><i class="partner-icon"></i><b>金牌合作伙伴</b><em>提供危废处置服务</em></div>
        <div class="cardList"  v-loading="listLoading">
            <div class="cardItem" v-for="(item,index) in list" :key="index" :class="{'first':index==0}" @click="goEntDetail(item.entId,item.entName)">
                <el-card :body-style="{ padding: '0px' }">
                    <div class="image" v-loading="!item.imgLoaded" element-loading-spinner="el-icon-loading"
                         element-loading-background="rgba(208, 225,255, 1)"><img v-if="item.imgLoaded" :src="item.logo"/>
                    </div>
                    <div style="padding: 6px 14px;">
                        <div class="entName">{{item.entName}}</div>
                        <div class="address"><i class="address_icon"></i>{{item.entAddress}}</div>
                        <div class="entContent">
                            <i class="xukezheng_icon"></i>
                            <b>{{item.dispositionType?item.dispositionType.split(',')[0]:'--'}}</b>
                            <span class="split">|</span>
                            <b>有效期：{{item.licenceEndDate}}</b>
                        </div>
                    </div>
                </el-card>
            </div>
            <div class="clear"></div>
        </div>
        <div class="other"><span class="left-point">·</span>及其它17家合作伙伴<span class="right-point">·</span></div>
    </div>
    <div style="padding-bottom: 20px" id="service">
        <div class="service-title"><i class="service-icon"></i><b>管家服务</b><em>满足环保要求、避免处罚风险、规范管理危废</em></div>
        <div class="package-list">
            <div class="package-item">
                <div class="package-header-first">尊享服务</div>
                <div>危废仓库建设及改造咨询</div>
                <div>危废仓库规范化管理</div>
                <div>危废包装规范化管理</div>
                <div>危废年度管理计划申报托管</div>
                <div>危废月度申报托管</div>
                <div>危废应急制度编制及演练</div>
                <div>危废业务知识培训</div>
                <div>危废管理制度编制</div>
            </div>
            <div class="package-item">
                <div class="package-header" id="gong">
                    <div class="package-header-title"><i class="header-icon gong"></i>公爵套餐</div>
                    <div class="package-header-price"><b>2万</b>/年</div>
                    <a href="javascript:" class="package-header-btn" @click="doAction">购买</a>
                </div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
            </div>
            <div class="package-item active" id="bo">
                <div class="package-header">
                    <div class="commend">荐</div>
                    <div class="package-header-title"><i class="header-icon bo"></i>伯爵套餐</div>
                    <div class="package-header-price"><b>1万</b>/年</div>
                    <a href="javascript:" class="package-header-btn focus" @click="doAction">购买</a>
                </div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star gray"></i></div>
                <div><i class="star gray"></i></div>
                <div><i class="star light"></i></div>
            </div>
            <div class="package-item" id="hou">
                <div class="package-header">
                    <div class="package-header-title"><i class="header-icon hou"></i>候爵套餐</div>
                    <div class="package-header-price"><b>6000</b>/年</div>
                    <a href="javascript:" class="package-header-btn" @click="doAction">购买</a>
                </div>
                <div><i class="star gray"></i></div>
                <div><i class="star gray"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star light"></i></div>
                <div><i class="star gray"></i></div>
                <div><i class="star gray"></i></div>
                <div><i class="star gray"></i></div>
                <div><i class="star gray"></i></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="footer">
       <span>COPYRIGHT &nbsp; &copy;  &nbsp; 江苏神彩科技股份有限公司  &nbsp;  www.yifeiwang.com  &nbsp;
        <a href="http://www.miibeian.gov.cn" target="_blank">&nbsp;苏ICP备16051104号-2</a>&nbsp;&nbsp;ICP证: 苏B2-20170197</span>
</div>
<script src="main/common/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="./main/common/elementui/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="./main/common/elementui/index.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="app/js/constants.js"></script>
<script src="app/js/util.js?1"></script>
<script src="main/common/provinces.js?2"></script>
<script src="main/pc/js/index.js?15"></script>
<script src="main/common/resLoader.js"></script>
<script type="text/javascript">
    var appPath='/swp';
    var vue=new Vue({
        el: '#app',
        data: {
            list:[],
            listLoading:true,
            packageList:packageList,
            package:2,
            moneyShow:false,
            paySuccess:false,
            myBitAmount:0,
            remainTime:5,
            money:0,
            cantonCode:'',
            ticketId:getParam('ticketId'),
            provinceObj:provinceObj
        },
        created:function() {
            if(localStorage.ticketId&&localStorage.province){
                this.cantonCode=localStorage.province
            }else{
                this.cantonCode=returnCitySN['cid'].substring(0,2);
            }
            this.getList();
        },
        mounted:function () {
            $(".package-item:not(:first-child)").hover(function(){
                $(this).addClass("active").siblings().removeClass('active');
            });
            $(".package-list").mouseleave(function(){
                if(vue.package==2){
                    $('#bo').addClass("active").siblings().removeClass('active');
                }
            })
        },
        methods:{
            getList:function () {
                ajax({
                    url:'/enterpriseConfiguration/listEnterpriseInfoByWeight',
                    data:JSON.stringify({
                        startRowIndex:1,
                        rows:9,
                        cantonCode:this.cantonCode
                    }),
                    contentType:'application/json',
                    success:function (result) {
                        console.log(result);
                        vue.listLoading=false;
                        if(result.status==1){
                            var list=[];
                            for(var i in result.data){
                                var obj=result.data[i];
                                if(obj['fileId']){
                                    var imgUrl=IMGVIEWURL+obj['fileId'];
                                    obj['logo']=imgUrl;
                                }else{
                                    obj['logo']='main/pc/img/ent_default_short.png';
                                }
                                obj['imgLoaded']=false;
                                vue.getLoaderEnt(obj['logo'],i).start();
                                list.push(obj);
                            }
                            vue.list=list;
                        }
                    }
                })
            },
            getLoaderEnt:function(imgUrl,index){
                var loader = new resLoader({
                    resources:[imgUrl],
                    onStart: function(total) {
                    },
                    onProgress: function(current, total) {
                        // $('.loading').html('正在加载中...'+Math.floor(current*100/total)+'%');
                    },
                    onComplete: function(total) {
                        var item=vue.list[index];
                        if(item){
                            item.imgLoaded=true;
                            Vue.set(vue.list,index,item);
                        }
                    }
                });
                return loader;
            },
            goEntDetail:function (entId,entName) {
                if(index.isLogin&&index.ticketId){
                    collectingUserBehavior(index.ticketId,'VIEWINDEXDISENT',entName,'PC首页旗舰店页面');
                }else{
                    collectingUserBehavior('','VIEWINDEXDISENT',entName,'PC首页旗舰店页面');
                }
                var ticketIdStr=index.ticketId?('&ticketId='+index.ticketId):'';
                window.location.href='main/pc/view/czDetail.html?entId='+entId+ticketIdStr+'&breadName=本地旗舰店';
            },
            doAction:function () {
                window.location=appPath+'/login.jsp?redirectURL=/wastecircle/tmall.htm';
            },
            inquiry:function () {
                collectingUserBehavior('','FLAGSHIP_INQUIRY');
                this.doAction();
            }
        }
    })
</script>
</body>

</html>