.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px !important;
    font-weight:normal;
}
  
.padding-left_div {
    padding-left:0px !important;
    padding-top:10px !important;
}
    
.colcss {
    padding-left: 3px !important;
    padding-right: initial !important;
    text-align:left;
}
    
.fieldsetcss{
    border-bottom: initial !important;
    margin-bottom: initial !important;
    padding-bottom: 10px !important;
}
.legendcss{
    margin-bottom: 10px !important;
}
    
.selectcss{
    margin-top:10px !important;
    margin-bottom: 10px !important;
}
    
.paddingleft{
    padding-left: 15px !important;
}
    
.spanleftright{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
    
#wastecodesModal {
    top:30%;
    left:15%;
}
    
.wizard_content_body_ul_li{
    margin:0; 
    padding:0; 
    list-style-type:none
}
    
.colPadding{
    padding-right: 5px !important;
}
  
.popover {
    border: 1px solid #a9dd92;
    background: #e3f8d9;
    width: 350px;
    height: 60px;
}

.popover.right > .arrow:after {
    content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 1px;
	border-right-color: #e3f8d9;
}
	
.popover.right > .arrow{
	border-right-color:#a9dd92 !important;
	border-left-width:0;
    margin-top:-11px;
}
	  
.wizard > .actions {
    position: relative;
	display: block;
	width: 100%;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin-left: 2px; */
    margin-right: 6px;
}

/* commview */
.list-group {
    padding-top: 7px;
}
  
.list-group-item {
    border: 0px;
}

.marginLeft {
    margin-left:10px;
}
.popover-div {
    width:150px; 
    height:200px;
}
  
.thumb64 {
    width: 32px !important;
    height: 32px !important;
    margin:0 auto;
}

#licenceImg img{
    max-width:100%;
  	margin-bottom:10px;
}


/* detail */
.botton-margin {
      margin-right: 0px;
}


/* licencesteps */
.wizard > .content > .body{
    padding:initial !important;
}
.content-wrapper {
    padding: 15px;
    width: 100%;
    border-top: 0px solid rgba(0, 0, 0, 0.15);
    margin-top: -1px;
}


/* licenceapproved-view */
.popover-content {
    background-color: #FFFFFF;
    padding: 0px 0px;
}

.marginbottom {
    margin-bottom: 10px !important;
}

.h35 {
	height: 30px;
}
#dispositionItem {
	padding-top: 0px;
}

#dispostionTypeDisplayFieldset div {
    float: left;
    /* border: 1px solid #d6e8f4; */
    height: 30px;
}

#dispostionTypeDisplayFieldset label span {
	padding-right: 10px;
}
#selectedWaste {
	max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
.col-right-height {
	max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wastecss {
	border: 1px solid #dde6e9;
    padding: 10px;
    width: 140px;
    display: inline-block;
}
.panel-collapse .wastecss{
    width:196px;
}
.pluscopy {
    float: right;
    margin-right: -5px;
    margin-top: -8px;
}
.removeBtn {
    float: right;
    margin-right: -10px;
    margin-top: -8px;
    padding-left: 5px;
}
.checkAllCss {
    padding-left: 0px;
}
.dropdown-menu.zgl{
	min-width:100px !important;
	width:100% !important;
	max-height:200px !important;
}
.waste-item{
    margin-bottom: 16px;
    display: block;
    overflow: auto;
}
.eList{
    display: none;
}
.dList{
    color: #777777;
    font-size: 12px;
}
.dList b{
    color: #000000;
}
.eList b{
    display: block;
    color: #000000;
    font-size: 12px;
    margin-bottom: 10px;
}
.dList a{
    margin-left: 10px;
}
.wasteCode{
    word-break: break-all;
}